.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.banner-overlay {
    position: relative;
    width: 100%;
    height: 372px;
    background-image: url(../../assets/images/banner-comic.svg);
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(255, 255, 255, 0.56) 100%);
        opacity: 0.9;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.024) 37.7%, rgba(255, 255, 255, 0.8) 86.97%);
    }
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 980px;
    height: 400px;
    background-image: linear-gradient(180deg, #c6c6c6 20%, rgba(255, 255, 255, 0.2) 75.48%);
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
}

.banner-linear {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 980px;
    height: 400px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #dfdfdfcc 20%, rgba(255, 255, 255, 0.2) 75.48%);
}

.banner-image {
    width: 240px;
    height: 320px;
    object-fit: contain;
    border-radius: 10px;
    margin-right: 50px;
}

.banner-content {
    flex: 1;
    height: 100%;
    margin-top: 40px;
}

.author {
    color: #6d7175;
    font-size: 1.4rem;
    line-height: 20px;
}

.list-category {
    margin-top: 4px;
    .category {
        color: #8c9196;
        font-size: 1.4rem;
        margin-right: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.summary {
    display: inline-block;
    color: #44474a;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 26px;
    margin-top: 8px;
    line-height: 20px;
    overflow: hidden;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4; //line display
    -webkit-box-orient: vertical;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .heart {
        width: 34px;
        height: 34px;
        margin-left: 16px;
    }
}

.content-wrapper {
    width: 980px;
    min-height: 500px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.indicator-wrapper {
    color: #8c9196;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 50px;
    border-bottom: 2px solid transparent;
    span {
        &:hover {
            cursor: pointer;
        }
    }
}

.indicator {
    position: relative;
    margin-left: 50px;

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        left: -35%;
        top: 60%;
        transform: translateY(-50%);
        background-color: #8c9196;
    }
}

.active {
    color: #2e72d2;
    border-bottom: 2px solid #2e72d2;
}

.summary-wrapper {
    margin-top: 40px;
    font-size: 1.6rem;
    font-weight: 500;

    .title {
        margin-bottom: 16px;
    }
}

.rank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    width: 100%;
    height: 94px;
    border: 1px solid #999ea4;

    .rank-no {
        display: flex;

        .rank-icon {
            width: 30px;
            height: 30px;
            margin-right: 12px;
        }

        .rank-text {
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}

.feedback {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .total {
        font-weight: 700;
        font-size: 1.8rem;
        margin-right: 40px;
    }

    .star-group {
        display: flex;
        align-items: center;
    }

    .mark {
        margin-left: 12px;
        color: #6d7175;
    }
}

.comment-wrapper {
    border-top: 1px solid #d7d8e0;
    margin-top: 40px;
    padding: 20px 0px;
}

.comment-input {
    display: flex;
    align-items: flex-start;
    height: 50px;
    width: 100%;
    margin-top: 16px;

    .avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .input {
        flex: 1;
        margin-left: 20px;
        height: 35px;
        border-bottom: 1px solid #d7d8e0;
        font-size: 1.6rem;

        &:focus {
            border-bottom: 1px solid #676767;
        }
    }
}
