.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.inner {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px 1px rgba(0, 14, 51, 0.2);
    z-index: 1;
}

.header-left,
.header-right {
    width: 400px;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;

    .comic-name {
        font-weight: 700;
        font-size: 1.8rem;
        margin-left: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.top {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-wrapper {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    color: #6d7175;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.view {
    display: flex;
    align-items: center;
}

.icon-eye {
    margin-right: 5px;
    font-size: 1.4rem;
}

.dropdown-group {
    display: flex;
    align-items: center;
    width: 600px;
}

.dropdown {
    flex: 1;
    min-width: 250px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary);
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #dedede;
    width: 666px;
    min-height: 1000px;
}

.image {
    display: block;
    width: 100%;
    object-fit: cover;
}
