.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.inner {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}

.header {
    height: 60px;
    background-color: rgb(193, 51, 51);
}

.top {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    background-color: aqua;
    width: 600px;
}

.image {
    display: block;
    width: 100%;
    height: 860px;
    object-fit: cover;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    width: 600px;
}
