.wrapper {
    position: relative;
    width: 463px;
    height: 207px;
    font-size: 1.3rem;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
}

.banner-linear {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(89.74deg, rgba(14, 14, 14, 0.7) -1.62%, rgba(46, 46, 46, 0) 99.78%);
}

.banner-content {
    position: absolute;
    color: var(--white);
    padding: 25px;
    width: 75%;

    a {
        display: inline-block;
        color: var(--white);

        &:hover {
            text-decoration: underline;
        }
    }

    .content-header {
        font-weight: 700;
        font-size: 1.7rem;
    }

    .content-summary {
        overflow: hidden;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 4; //line display
        -webkit-box-orient: vertical;
    }

    .content-category {
        color: #999ea4;
        margin-top: 30px;
    }
}
