.wrapper-large-1 {
    width: 356px;
    height: 420px;
    background-color: #f6f7fc;
    border-radius: 6px;
    overflow: hidden;
    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .content {
        .header {
            font-weight: 600;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
            .title {
                display: block;
                font-size: 2rem;
            }

            .category {
                font-size: 1.4rem;
            }
        }

        .summary {
            color: #83848f;
            font-size: 1.5rem;
            line-height: 20px;
            font-weight: 400;
            overflow: hidden;
            padding: 0px 2rem;
            letter-spacing: 0.2px;
            display: -webkit-box;
            -webkit-line-clamp: 6; //line display
            -webkit-box-orient: vertical;
        }
    }
}

.wrapper {
    position: relative;
    display: flex;
    height: 200px;
    border-radius: 6px;
    background-repeat: repeat;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
    }
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 160px; // de tam sau xoa
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-out;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 0.3s ease-out;
        }
        &:not(:hover) {
            transition: transform 0.3s ease-out;
        }
    }
}

.sub1 {
    transform: scale(0.8) translate(-160%, -60%);
    z-index: 1;
    transition: transform 0.3s ease-out;
}

.sub2 {
    transform: scale(0.8) translate(30%, -60%);
    z-index: 0;
    transition: transform 0.3s ease-out;
}
//overlay

.sub1,
.sub2 {
    &:after {
        cursor: pointer;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
