.wrapper {
    width: 360px;
    display: flex;
    padding: 5px 1px;
    margin-right: 2%;
    margin-bottom: 3%;
    .description {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
        color: #8c9196;
    }
}
.star-rate {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #918e8e;
}
.img {
    width: 100px;
    height: 134px;
    border-radius: 2px;
}
.content {
    margin-left: 10px;
}
.title {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
.category {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #918e8e;
    padding: 4px 0px 8px; //top - left,right - bot
}
