.wrapper {
    width: 19.5%;
    margin-bottom: 3%;
}
.wrapper-choose {
    width: 19.5%;
    margin-bottom: 3%;
    opacity: 0.5;
    .img-icon {
        position: relative;
        .solid {
            position: absolute;
            width: 133px;
            height: 182px;
            border-radius: 4px;
            opacity: 0.5;
        }
    }
}
.img-icon {
    position: relative;
    width: 133px;
    .img {
        width: 100%;
        height: 182px;
        border-radius: 4px;
    }
    .delete-icon {
        position: absolute !important;
        border-radius: 4px;
        padding: 0px 1px;
        right: 1px;
        top: 1px;
        cursor: pointer;
        background-color: #d72c0d;
        color: #ffffff;
    }

    .solid {
        width: 0px;
        height: 0px;
    }
}

.title {
    width: 133px;
    margin-top: 4%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #202223;
}
.reader {
    span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #8c9196;
    }
}
