.wrapper-small-1 {
    min-width: 106px;
    width: 106px;
    // + .wrapper-small-1 {
    //     margin-left: 18px;
    // }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .card-image {
        display: inline-block;
        width: 101px;
        height: 132px;
        margin-bottom: 4px;
        overflow: hidden;
        border-radius: 4px;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s ease-out;
            }
            &:not(:hover) {
                transition: transform 0.3s ease-out;
            }
        }
    }

    .title {
        display: block;
        font-weight: 700;
        color: #202223;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .category {
        font-weight: 500;
        color: #676767;
        font-size: 1.3rem;
    }
}

.wrapper-small-2 {
    display: flex;
    font-size: 1.2rem;
    min-width: 156px;
    width: 162px;
    height: 76px;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .card-image {
        display: inline-block;
        width: 54px;
        height: 68px;
        margin-right: 4px;
        border-radius: 2px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s ease-out;
            }
            &:not(:hover) {
                transition: transform 0.3s ease-out;
            }
        }
    }

    .content {
        margin-top: 2px;
        .title {
            display: block;
            font-weight: 700;
            color: #202223;
            line-height: 1.4rem;
            margin-bottom: 2px;
        }

        .category {
            font-weight: 500;
            color: #676767;
        }
    }
}

.wrapper-rank-card {
    display: flex;
    font-size: 1.4rem;
    min-width: 150px;
    width: 200px;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .card-image {
        display: inline-block;
        min-width: 50px;
        height: 66.66px;
        overflow: hidden;
        border-radius: 3px;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s ease-out;
            }
            &:not(:hover) {
                transition: transform 0.3s ease-out;
            }
        }
    }

    .card-stt {
        font-weight: 700;
        margin: 0 6px;
    }
    .content {
        margin-top: 2px;
        .title {
            display: block;
            font-weight: 700;
            color: #202223;
            line-height: 1.4rem;
            margin-bottom: 2px;
        }

        .category {
            font-size: 1.2rem;
            font-weight: 500;
            color: #676767;
        }
    }
}
