.wrapper-large-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    width: 610px;
    background-color: #f6f7fc;
    border-radius: 6px;
    padding: 20px;

    .list-image {
        display: flex;
        justify-content: space-between;
    }

    .content-wrapper {
        display: flex;
        color: var(--text-color);
        margin-top: 16px;

        .main-image {
            min-width: 120px;
            height: 160px;
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.3s ease-out;
                }
                &:not(:hover) {
                    transition: transform 0.3s ease-out;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .card-body {
            margin-left: 12px;

            a {
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }

            .content-title {
                font-weight: 700;
                font-size: 1.8rem;
            }

            .content-category {
                color: #797979;
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .content-summary {
                display: inline-block;
                color: #797979;
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 15px;
                line-height: 20px;
                overflow: hidden;
                text-align: justify;
                display: -webkit-box;
                -webkit-line-clamp: 3; //line display
                -webkit-box-orient: vertical;
            }
        }
    }
}

.image-item {
    position: relative;
    width: 56px;
    height: 72px;
    border-radius: 4px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-out;
        }
        &:not(:hover) {
            transition: transform 0.3s ease-out;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        border: 3px solid var(--primary);
        box-shadow: inset 0 0 0 1px #fff;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }
}

.image-item.active {
    &:after {
        visibility: visible;
        opacity: 1;
    }
}

.noActive {
    &:hover {
        cursor: pointer;
    }
}
