.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 800;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
        margin-bottom: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 999px;
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.secondary {
    width: 350px;
    font-weight: 600;
    line-height: 24px;
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
    border-radius: 999px;
}

.gg {
    background-color: #ffffff;
    border-color: #ffffff;
    color: var(--black);
}
