.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 8px 14px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
        margin-bottom: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 14px;
    width: 24px;
    height: 24px;
    margin-top: -14px;
    font-size: 2.6rem;
    object-fit: cover;
}

// Button types
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 999px;
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.secondary {
    width: 320px;
    line-height: 28px;
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
    border-radius: 999px;
}

.text {
    color: var(--secondary);
    background-color: transparent;
    &:hover {
        text-decoration: underline;
    }
}

.gg {
    background-color: #ffffff;
    border-color: #ffffff;
    color: var(--black);
}
