.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    padding: 7px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 0px 0px 2px 1px rgba(68, 68, 68, 0.1);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 12px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 14px;
    width: 20px;
    height: 20px;
    margin-top: -17px;
    font-size: 2.6rem;
    object-fit: cover;
}

// Button types
.primary {
    color: var(--white);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 999px;
    font-weight: 600;
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.large {
    width: 320px;
    line-height: 28px;
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 999px;
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.grey {
    width: 172px;
    height: 34px;
    background-color: #babec3;
    border-radius: 999px;
    padding: 12px 16px;
    font-size: 1.5rem;
}

.rounded {
    border-radius: 999px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: 700;

    &:hover {
        background-color: #fff3f5;
    }
}

.text {
    color: var(--secondary);
    background-color: transparent;
    box-shadow: none;
    padding: 8px 0;
    &:hover {
        text-decoration: underline;
    }
}

.keyword {
    color: #3e87ab;
    box-shadow: 0px 0px 8px 2px rgba(0, 14, 51, 0.15);
    padding: 4px 8px;
    font-size: 1.4rem;
    &:hover {
        text-decoration: underline;
    }
}

.gg {
    background-color: #ffffff;
    border-color: #ffffff;
    color: var(--black);
}

.fb {
    background-color: var(--secondary);
}

.small {
    padding: 5px 14px;
}
