@import 'normalize.css';

:root {
}

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    // line-height: 1.5; defaul line-height
}
