@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary: #eb1d24;
    --secondary: #2e72d2;
    --black: #000;
    --white: #fff;
    --text-color: #202223;

    --font-family: 'Mulish', sans-serif;

    --default-layout-header-height: 92px;
    --default-layout-header-width: 1440px;
    --default-layout-width: 930px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

button,
input,
textarea,
[tabindex] {
    outline: none;
    border: none;
}

input[type='radio']:checked {
    accent-color: var(--primary);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p {
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5; //defaul line-height
    overflow-y: overlay;
    color: var(--text-color);

    .slick-dots li button:before {
        font-size: 8px;
    }

    .slick-dots {
        bottom: 40px;
    }

    .page-link {
        color: var(--black);
        &:hover {
            color: rgba(235, 29, 36, 0.7);
        }
    }

    .active > .page-link,
    .page-link.active {
        background-color: var(--primary);
        border-color: var(--primary);
    }
}

//scroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
