@import 'normalize.css';

:root {
    --black: #000;
    --white: #fff;
    --text-color: #1a1a1a;
    --font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5; //defaul line-height
    overflow-y: overlay;
    color: var(--text-color);
}

//scroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
