.wrapper {
    margin-top: 8%;
    margin-left: 18%;
    width: 64%;
    display: flex;
}

.side-bar {
    width: 20%;
    .btn-category {
        margin-left: 0% !important;
        line-height: 20px;
        min-width: 40px !important;
    }
    .h3 {
        position: relative;
        margin-bottom: 22%;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #8c9196;
        &::after {
            position: absolute;
            width: 100%;
            height: 0px;
            bottom: -102%;
            left: 0%;
            content: '';
            border: 1px solid #c9cccf;
        }
    }
    .ul {
        list-style-type: none;
        margin-left: -10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.content {
    width: 80%;
    margin-left: 5%;
    .title {
        position: relative;
        margin-bottom: 5%;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #202223;
        &::after {
            position: absolute;
            width: 100%;
            height: 0px;
            bottom: -102%;
            left: 0%;
            content: '';
            border: 1px solid #c9cccf;
        }
    }
    .status {
        width: 100%;
        .h4 {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6d7175;
        }
        .btn-status {
            margin-left: 0px !important;
            margin-right: 1% !important;
            box-shadow: none !important;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6d7175;
            border-radius: 10px !important;
            padding: 1.2px 7px !important ;
            min-width: 40px !important;
        }
        .btn-status-choose {
            margin-right: 1% !important;
            margin-left: 0px !important;
            box-shadow: none !important;
            border: 1px solid #d72c0d !important;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #d72c0d;
            border-radius: 10px !important;
            padding: 1.2px 7px !important ;
            min-width: 40px !important;
        }
    }
    .sort-by {
        width: 100%;
        margin: 4% 0%;
        .h5 {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6d7175;
        }
        .btn-sort-by {
            margin-right: 1% !important;
            margin-left: 0px !important;
            box-shadow: none !important;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6d7175;
            border-radius: 10px !important;
            padding: 1.2px 7px !important ;
            min-width: 40px !important;
        }
        .btn-sort-by-choose {
            margin-right: 1% !important;
            margin-left: 0px !important;
            box-shadow: none !important;
            border: 1px solid #d72c0d !important;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #d72c0d;
            border-radius: 10px !important;
            padding: 1.2px 7px !important ;
            min-width: 40px !important;
        }
    }
}
.result {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pagi {
    background-color: #202223;
    width: 20%;
    height: 100px;
}
