.wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;

    .wrapper + .wrapper {
        margin-top: 20px;
    }
}

.avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content {
    flex: 1;
    margin-left: 18px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color);
    border-bottom: 1px solid #d7d8e0;
    .name {
        font-weight: 700;
    }

    .rate,
    .time {
        font-size: 1.4rem;
        color: #8c9196;
    }

    .rate {
        margin-bottom: 6px;
    }

    .time {
        margin: 10px 0px;
    }
}
