.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 480px;
    min-height: 57px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    border-top: 1px solid #999ea4;
    border-bottom: 1px solid #999ea4;
    background-color: var(--white);

    &:hover {
        background-color: #f6f6f7;
    }
}

.number {
    display: block;
    margin-right: 30px;
    font-size: 1.6rem;
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 3px;
}

.time {
    color: #8c9196;
}
