.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.modal-body {
    width: 444px;
    height: 600px;
    background-image: url(../../assets//images/background-img-login.png);
    opacity: 0.9;
    box-shadow: 0px 0px 3px 1px rgba(0, 14, 51, 0.2);
    object-fit: cover;
    margin: auto;
    z-index: 1;
}

.modal-linear {
    width: 444px;
    height: 600px;
    z-index: 2;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 90%);
}

.modal-inner {
}
