.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-body {
    position: relative;
    width: 444px;
    height: 600px;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 4px #000e3333;
    object-fit: cover;
    margin: auto;
    border-top: 3px solid var(--primary);
}

.modal-linear {
    width: 444px;
    height: 600px;

    .popup-title {
        display: flex;
        position: absolute;
        top: 14px;
        left: 24px;

        .back {
            font-size: 2.2rem;
            margin-right: 15px;
            &:hover {
                cursor: pointer;
            }
        }

        .title {
            font-weight: 500;
            font-size: 2.2rem;
        }
    }

    .cancel {
        position: absolute;
        font-size: 2.4rem;
        top: 14px;
        right: 24px;
        color: #838383;

        &:hover {
            cursor: pointer;
        }
    }
}

.modal-inner {
    padding-top: 40px;

    .inner-bottom {
        color: #6d7175;
    }
}

.inner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin-top: 60px;
    .logo {
        margin-bottom: 16px;
    }

    .header {
        font-size: 2.2rem;
        font-weight: 800;
        color: var(--text-color);
        margin-bottom: 8px;
    }

    .sub-header {
        color: #6d7175;
        font-size: 1.2rem;
    }
}

.inner-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.inner-sign {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .sign-text {
        padding: 8px 2px;
        line-height: 28px;
        color: #6d7175;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.inner-bottom {
    display: flex;
    position: absolute;
    font-size: 1.2rem;
    bottom: 5px;
    left: 20%;
    transform: translateX(-10%);

    .copyright {
        padding-right: 4px;
    }
}

//input
.form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    .btn-signup {
        margin-top: 24px;

        .btn-forgot {
            text-align: center;
            margin-top: 8px;
        }
    }
}

.form-item {
    position: relative;
    margin-bottom: 10px;

    .label {
        position: absolute;
        left: 0;
        font-weight: 600;
    }

    &:focus-within {
        label {
            color: var(--primary);
        }
    }

    .input {
        width: 100%;
        height: 35px;
        padding-left: 5px;
        padding-right: 10px;
        font-size: 1.6rem;
        margin-top: 5px;
        border-bottom: 1px solid #838383;

        &:focus {
            border-bottom: 1px solid rgb(235, 29, 36, 0.6);
        }
    }
}

.invalid {
    color: var(--primary);
    font-size: 1.4rem;
    margin-top: 8px;
    height: 25px;

    .icon {
        margin-right: 4px;
        font-size: 1.3rem;
    }
}
