.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: #f6f6f7;
}

.body {
    width: 980px;
}

.info {
    position: relative;
    padding: 0 40px;

    .btn-update {
        position: absolute;
        right: 40px;
        top: 0;
    }
}

.cover-image {
    position: relative;
    margin-bottom: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .avatar-wrapper {
        position: absolute;
        bottom: -65px;
        left: 100px;
        border-radius: 50%;
        border: 4px solid #ffffff;
        width: 150px;
        height: 150px;
        background-color: #b6b6b6;

        .avatar {
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .camera {
        position: absolute;
        width: 28px;
        height: 28px;
        bottom: -50px;
        left: 210px;

        &:hover {
            cursor: pointer;
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.41%, #000000 100%);
    opacity: 0.8;
}

.btn-cover-image {
    position: absolute;
    bottom: 22px;
    right: 42px;
}

.username {
    font-weight: 700;
    font-size: 2.2rem;
}

.sub-info {
    margin-left: 20px;
    margin-top: 3px;
}

.id {
    position: relative;
    color: #6d7175;
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 40px;

    img {
        position: absolute;
        width: 16px;
        left: -20px;
        top: 0px;
    }
}

.main-info {
    margin-top: 50px;
    margin-bottom: 86px;
    font-size: 1.6rem;
    font-weight: 500;
}

.form-item {
    display: flex;
    margin-bottom: 30px;

    .label {
        display: block;
        width: 120px;
        margin-right: 30px;
    }

    .input {
        width: 280px;
        height: 32px;
        font-size: 1.5rem;
        border: 1px solid #babec3;
        border-radius: 4px;
        padding: 0 8px;
    }
}

.text-area {
    border: 1px solid #babec3;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px;
}

.radio {
    display: flex;
    align-items: center;

    .radio-label {
        margin-left: 8px;
        margin-right: 25px;
    }

    .radio-input {
        width: 20px;
        height: 20px;
    }
}

.info-detail {
    flex: 1;
}

.btn-save {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
