.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 92px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: 892px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
