.wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: #f0f0f0;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 892px;
}

.left-block {
    display: flex;
    align-items: center;

    .logo {
        margin-right: 40px;
    }
}

.header-item {
    display: flex;
    align-items: center;
    margin-right: 40px;

    .title {
        margin-left: 5px;
        font-size: 1.6rem;
        font-weight: 700;
        color: #6d7175;

        &:hover {
            color: var(--primary);
        }
    }

    &:hover {
        cursor: pointer;
    }
}
