.wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: #f8f8f8;
    z-index: 1000;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.left-block {
    display: flex;
    align-items: center;

    .logo {
        margin-right: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.right-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }
}

.header-item {
    display: flex;
    align-items: center;
    margin-right: 40px;

    .title {
        margin-left: 5px;
        font-size: 1.7rem;
        font-weight: 700;
        color: #6d7175;

        &:hover {
            color: #8e9397;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.category-popover {
    display: flex;
    position: relative;
    justify-content: start;
    width: 524px;
    height: 292px;
    padding: 25px;
    background-color: #25262f;
    border-radius: 8px;

    .category-column {
        width: 30%;
        margin-right: 10px;
        a {
            display: block;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 600;
            font-size: 1.8rem;
            padding: 6px 12px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 4px;
            }
        }
    }
}

.user-popover {
    width: 280px;
    height: 340px;
    background-color: #25262f;
    border-radius: 10px;
    padding: 20px 40px 40px 40px;

    .info {
        color: var(--white);
        display: flex;

        .info-text {
            margin-left: 10px;

            .username {
                font-weight: 600;
                font-size: 1.6rem;
            }

            .id {
                color: #6d7175;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
    }

    .option {
        margin-top: 36px;

        a {
            display: block;
            color: var(--white);
            font-weight: 600;
            font-size: 1.7rem;
            padding: 8px 12px;
            margin-bottom: 2px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 6px;
            }
        }
    }
}
