.wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    z-index: 1000;
}

.relative-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.left-block {
    display: flex;
    align-items: center;

    .logo {
        margin-right: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.right-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }
}

.header-item {
    display: flex;
    align-items: center;
    margin-right: 40px;

    .title {
        margin-left: 5px;
        font-size: 1.7rem;
        font-weight: 700;
        color: #6d7175;

        &:hover {
            color: #8e9397;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.category-popover {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 500px;
    min-width: 300px;
    height: 275px;
    min-height: 275px;
    padding: 15px;
    background-color: #25262f;
    border-radius: 8px;

    .category-item {
        display: block;
        width: 30%;
        height: 40px;
        margin-right: 15px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 600;
        font-size: 1.6rem;
        padding: 6px 12px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 4px;
        }
    }
}

.user-popover {
    width: 250px;
    height: 290px;
    background-color: #25262f;
    border-radius: 10px;
    padding: 20px 20px 20px 30px;

    .info {
        color: var(--white);
        display: flex;

        .info-text {
            margin-left: 10px;

            .username {
                font-weight: 600;
                font-size: 1.6rem;
            }

            .id {
                color: #6d7175;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
    }

    .option {
        margin-top: 20px;

        a {
            display: block;
            color: var(--white);
            font-weight: 600;
            font-size: 1.5rem;
            padding: 6px 8px;
            margin-bottom: 2px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }
}
