.body {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.content {
    width: 892px;
}

.title {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.title-no-border {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 6px;
    border-bottom: 1px solid transparent;
}

.trending {
    .trending-inner {
        display: flex;
        height: 415px;
        justify-content: space-between;
        .list-comic {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: 10px;
            width: 65%;
        }
    }
}

.ranking {
    margin-top: 30px;

    .ranking-inner {
        height: 450px;
        background-color: #6a6a6a;
    }
}

.funny-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .left {
        width: 60%;
    }

    .right {
        flex: 1;
        margin-left: 20px;

        .right-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    background-color: #f6f7fc;
    border-radius: 6px;
    padding: 16px;
}

.list-image {
    display: flex;
    gap: 6px;
}

.content-wrapper {
    display: flex;
    color: var(--text-color);
    margin-top: 16px;

    .main-image {
        &:hover {
            cursor: pointer;
        }
    }

    .card-body {
        margin-left: 12px;

        a {
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }

        .content-title {
            font-weight: 700;
            font-size: 1.8rem;
        }

        .content-category {
            color: #797979;
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .content-summary {
            display: inline-block;
            color: #797979;
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 15px;
            line-height: 20px;
            overflow: hidden;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 3; //line display
            -webkit-box-orient: vertical;
        }
    }
}

.new-comic {
    margin-top: 30px;

    .new-inner {
        display: flex;
        justify-content: space-between;
    }
}

.keyword {
    margin-top: 30px;

    .keyword-inner {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
    }
}
