.body {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.content {
    width: 892px;
}

.title {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.trending {
    .trending-inner {
        display: flex;
        height: 415px;
        justify-content: space-between;
        .list-comic {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: 10px;
            width: 65%;
        }
    }
}

.ranking {
    margin-top: 30px;
}
