.body {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.content {
    width: 980px;
}

.title {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.title-no-border {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 6px;
    border-bottom: 1px solid transparent;
}

.trending {
    .trending-inner {
        display: flex;
        height: 415px;
        justify-content: space-between;
        .list-comic {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
            width: 65%;
            margin-left: 20px;
        }
    }
}

.banner {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.ranking {
    margin-top: 30px;

    .ranking-inner {
        display: flex;
        justify-content: space-between;

        .row {
            width: 32%;
            .rank-title {
                color: var(--white);
                height: 45px;
                width: 200px;
                padding: 10px 0px;
                min-width: 200px;
                text-align: center;
                background-image: url(../../assets//images/bg-title-bxh.svg);
                background-repeat: no-repeat;
            }

            .rank-list {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;
            }
        }
    }
}

.funny-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .left {
        width: 60%;
    }

    .right {
        flex: 1;
        margin-left: 20px;

        .right-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 24px;
        }
    }
}

.new-comic {
    margin-top: 30px;

    .new-inner {
        display: flex;
        justify-content: space-between;
    }
}

.keyword {
    margin-top: 30px;

    .keyword-inner {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
    }
}
