.footer {
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url(../../assets/images/bottom-image.svg);
    margin-top: 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top: 40px;
    color: var(--white);

    .content-1 {
        margin-bottom: 25px;
    }

    .content-2 {
        margin-top: 25px;
        color: #8c9196;
        font-weight: 400;
    }

    .content-3 {
        margin-top: 25px;
        color: #8c9196;
        font-weight: 700;
    }
    .list-icon {
        margin-top: 35px;
        color: #8c9196;

        .icon {
            margin: 0 3px;
        }
    }
}

.content-4 {
    display: flex;
    font-size: 1.2rem;
    color: #8c9196;

    .copyright {
        padding-right: 4px;
    }
}
