.wrapper {
    margin-top: 76px;
}

.slider {
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url(../../assets//images/bottom-image.svg);
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
    }

    // img {
    //     position: absolute;
    //     width: 70%;
    //     height: 85%;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
